# URL do cardapio OlaClick
NEXT_PUBLIC_OLACLICK_URL=https://kingfood.fe-v2.ola.click/products
# Numero do WhatsApp (formato: codigo do pais + DDD + numero, sem espacos)
NEXT_PUBLIC_WHATSAPP_NUMBER=12673107535
